.middle{
  .display-col{
    display: inline-block;
  }
  // SLIDERS bg //
  .slider-bg-one , .slider-bg-two , .slider-bg-three{
    background: url("../images/tmc-home-bg.jpg")no-repeat;
    width: 100%;
    height: 500px;
    background-position: 0px -149px;
    padding: 100px 0;
    h1{
      font-size: 60px;
      color: #ffffff;
      text-shadow: 1px 2px 9px #000;
      margin-bottom: 26px;
    }
    span{
      height: 47px;
      vertical-align: middle;
      display: table-cell;
      font-size: 25px;
      font-weight: 400;
    }
    .badge-color-one{
      background: #f9bf00;
    }
    .badge-color-two{
      background: #091a48;

    }
    .badge-color-three{
      background: #282c62;

    }
  }
  .tmc-putation-detail{
    padding: 0 78px;
    .tmc-putation{
      display: inline-block;
      background: #f9bf00;
      overflow: hidden;
      border-radius: 0 0 8px 8px;
      .tmc-overwrite{
        padding: 0 !important;
      }
      .tmc-box{
        background: #091a48;
        h6{
          margin: 0;
          padding: 10px 0 20px;
          span{
            font-size: 50px;
            font-weight: 800;
          }
        }
      }
      .tmc-box-text{
        background: #f9bf00;
      }
      p {
        font-size: 13px;
        display: inline-block;
        margin: 20px 0 0;
      }
      button{
        position: relative;
        left: -26px;
        top: 31px;
      }
    }
  }
  .tmc-boxes{
    margin: 60px 0;
    .home-box{
      background: #f3f3f3;
      padding-bottom: 30px;
      border-radius: 4px;
      margin-bottom: 18px;
      width: 100%;
      float: left;
      border-bottom: 1px solid #cecece;
      .donation-box{
        width: 80px;
        float: left;
        .event-img{
          //background: url(images/home-donation-box.png) no-repeat;
          transition: 0.5s ease-in-out;
          height: 63px;
          background-position: 0 4px;
          margin-left: 28px;
          margin-top: 30px;
        }
      }
      .content-area-one{
        width: 75%;
        float: left;
        h3{
          margin: 0 0 0 15px;
          padding: 30px 0 15px 0;
          color: #091a48;
          font-weight: 600;
          font-size: 25px;
        }
        p{
          margin: 0 0 0 15px;
          font-size: 14px !important;
        }
      }
      .home-btn-box{

      }
    }
  }

  .slider-box {
    background: #f3f3f3;
    border-top: 1px solid #c4c4c4 !important;
    padding-top: 58px;
    padding-bottom: 85px;
    h4 {
      color: #091a48;
      font-size: 35px;
      font-weight: 800;
      padding-bottom: 25px;
    }
    .margin-top-deside {
      margin-top: 58px;
      h4 {
        margin: 0;
        font-size: 35px;
        font-weight: 900;
        color: #091a48;
        text-transform: uppercase;
      }
      .first-para{
        font-size: 13px !important;
        margin: 0 0 18px 0 !important;
        padding: 0;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        margin: 0 0 20px 0;
      }
      .span-div {
        width: 100%;
        text-align: center;
        .span-box {
          width: 20%;
          float: left;
          border: 1px solid #ccc;
          padding: 5px 0 5px 0;
          color: #091a48;
          .price {
            font-size: 25px;
            font-weight: 800;
            float: left;
            width: 100%;
          }
        }
      }
      .span-div-second {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        padding: 8px;
        .plus-btn {
          background: #091a48;
          color: white;
        }
        .over-text {
          font-size: 14px;
          font-weight: 800;
          color: #091a48;
          width: 90%;
          float: right;
          padding: 0;
          margin: -5px 0 0 0 !important;
        }
        .progress {
          width: 90%;
          float: right;
          margin: -20px 0 0 0;
          background: #dadada;
          color: #091a48;
          font-weight: 600;
          padding: 0 10px 0 0;
          .progress-site {
            border-radius: 5px;
            text-align: left;
            padding-left: 5px;
            background: #f9bf00;
            color: #091a48;
          }
        }
      }
    }
    .span-div-third {
      width: 100%;
      border: 1px solid #ccc;
      float: left;
      border-radius: 0 0 5px 5px;
      .donate-button {
        background: #091a48;
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding: 0 12px;
        line-height: 38px;
        border-radius: 4px;
        margin: 5px 0;
        box-shadow: 0 0 #27496d;
      }
    }
  }
  .images-area{
    background: url("../images/join-community-img.png")no-repeat fixed;
    width: 100%;
    height: 600px;
    background-size: cover;
    h5{
      font-size: 56px;
      font-weight: 300;
      color: #f9bf00;
      margin: 230px 0 50px 0;
    }
    button{
      width: 13%;
      display: inline;
      margin: 0;
      background: #f9bf00;
      font-size: 20px;
      border: none;
      padding: 15px 0 13px;
    }
  }



  .mosk-area {
    background: #f3f3f3;
    border-bottom: 1px solid #cecece !important;
    .image-text {
      background: white;
      width: 100%;
      float: left;
      img {
        height: 150px;
        width: 570px;
      }
      .width-46 {
        width: 45%;
        float: right;
        h5 {
          color: #091a48;
          font-size: 20px;
          font-weight: 600;
          margin: 33px 0 11px 0;
        }
        span{

          font-size: 13px;
          padding: 0 0 0 0;
          width: 100%;
          float: left;
          i {
            color: #091a48;
            font-size: 18px;
          }

        }
        .image-site {
          width: 50%;
          float: right;
          margin: 0 -1px 0 0;
        }
      }
      .width-46-two {
        width: 45%;
        float: left;
        padding: 37px 0 0;
        text-align: right;
        span{

          font-size: 13px;
          padding: 0 0 0 0;
          width: 100%;
          float: left;
          i {
            color: #091a48;
            font-size: 18px;
          }

        }
      }
    }
  }

  .form-area{
    background: #161944;
    padding: 62px 0;
    h4 {
      color: #ffffff;
      font-size: 35px;
      font-weight: 800;
      padding-bottom: 25px;
    }
    input{
      width: 356px;
      height: 48px;
      border-radius: 4px;
      padding: 0 8px;
      border: 1px solid #7579b5;
      background: #2d3171;
      color: #7579b5;
      margin-right: 20px;
    }
    button{
      //width: 130px;
      height: 48px;
      background: #f9bf00;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .tmc-details{
    padding: 70px 0;
    .donating-pro-btn{
      button{
        background: #091a48;
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding: 0 12px;
        line-height: 38px;
        border-radius: 4px;
        margin: 5px 0;
        box-shadow: 0 0 #27496d;
      }
    }
    h2{
      font-size: 20px;
      color: #161944;
      margin: 0;
    }
    .img-width{
      width: 100%;
      border-radius: 5px;
    }
    p{
      font-size: 13px;
      margin: 0 0 6px 0;
    }
    ul{
      padding: 7px 8px;
      background: #f3f3f3;
      border-radius: 4px;
      font-size: 14px;
      li{
        list-style: none;
        display: inline-block;
        padding: 0 2px;

        a{
          text-decoration: none;
          color: #333333 !important;
        }
      }
    }
  }
  h1{
    margin: 0 0 25px;
  }
  .card{
    margin-bottom: 5px;
    a {
      text-decoration: none;
      .card-header{
        font-size: 20px;
        padding: 0 15px;
        h5{
          height: 37px;
          display: table-cell;
          vertical-align: middle;
          text-transform: uppercase;
          font-size: 18px;
          color: #333333;
        }
      }
      &:hover{
        h5{
          color: #ffffff !important;
        }
        .card-header{
          background: #161944;
        }
      }
    }
    .card-block{
      font-size: 13px;
      padding: 9px 16px;
    }
  }
  .our-partner{
    .heading-partner{
      margin: 0;
      padding: 60px 0;
      font-weight: 800;
    }
    h1{
      font-size: 35px;
      font-weight: 800;
    }
    p{
      font-size: 13px;
    }
    .slick-list{
      z-index: 9999;
    }
    .slick-dots{
      bottom: 0;
      top: -3em;
      .slick-active {
        button{
          &:before{
            color: #f9bf00 !important;
          }
        }
      }
      li{
        button{
          &:before{
            font-size: 13px !important;
          }
        }
      }
    }
  }
  .hadith-bg{
    background: url("../images/hadith-correct-img.jpg")no-repeat;
    width: 100%;
    height: 100%;
    color: #333333;
    background-position: 30px 0;
    h1{
      margin: 60px 0 100px;
      display: inline-block;
      width: 100%;
    }
    p {
      font-size: 30px;
      width: 50%;
      margin: 0 auto;
      display: inline-block;
      line-height: 54px;
    }

    .hadith-detail-slider{
      .detail-img{
        img{
          margin: 40px 0 27px auto;
          display: inline-block;
        }
        p{
          font-size: 25px;
          line-height: 19px;
          span{
            font-size: 16px;
          }
        }
      }
      .slick-next{
        top: 23%;
        &:before{
          content: "\f105";
          font: normal normal normal 13px/1 FontAwesome;
          color: #000000;
          font-size: 110px;
        }
      }
      .slick-prev{
        top: 23%;
        &:before{
          content: "\f104";
          font: normal normal normal 13px/1 FontAwesome;
          color: #000000;
          font-size: 110px;
        }
      }
      .slick-list{
        z-index: 9999;
      }
      .slick-dots{
        bottom: 0;
        top: -3em;
        .slick-active {
          button{
            &:before{
              color: #f9bf00 !important;
            }
          }
        }
        li{
          button{
            &:before{
              font-size: 13px !important;
            }
          }
        }
      }
    }

  }
}

.footer{
  .footer-area {
    background: #161944;
    width: 100%;
    float: left;
    .margin-bottom-58 {
      margin-bottom: 58px;
      .margin-top-60 {
        margin-top: 54px;
      }
    }
    .payment {
      color: white;
      font-size: 20px;
      line-height: 0;
      .Methonds {
        color: #f9bf00;
      }
    }
    .show-small-hide{
      .input-site-area {
        width: 29%;
        float: right;
        background: #f9bf00;
        margin-top: -43px;
        border-radius: 0 5px 5px 0;
        p{
          font-size: 14px;
          font-weight: 600;
          float: left;
          margin: 15px 0 0 5px;
          letter-spacing: -1px;
        }
        input {
          float: right;
          margin: 7px 5px 6px 0;
          padding: 0 30px 0 6px;
          line-height: 32px;
          width: 60%;
        }
        i {
          position: absolute;
          right: 30px;
          top: 22px;
        }
      }
      .images-links {
        background: #282c62;
        width: 61%;
        float: right;
        border-radius: 5px 0 0 5px;
        margin-top: -43px;
        img {
          margin: 10px 0 10px 6px;
        }
      }
      .hide-small-show {
        display: none;
        width: 100%;
      }

    }
    .images-links {
      background: #282c62;
      width: 61%;
      float: right;
      border-radius: 5px 0 0 5px;
      margin-top: -43px;
      img {
        margin: 10px 0 10px 10px;
      }
    }
    .Quick-Links {
      font-size: 25px;
      font-weight: 300;
      color: #f9bf00;
      letter-spacing: -1px;
      margin: 0 0 15px 0;
      cursor: pointer;
    }
  }
  .anchor-hide , .footer-toggle{
    ul{
      li{
        a{
          color: #ffffff;
        }
      }
    }
  }
}
