.tmc-header-logo {
  background: #091a48; }
  .tmc-header-logo .search-container {
    padding: 55px 0; }
    .tmc-header-logo .search-container input {
      width: 94%;
      position: absolute;
      background: #051133;
      border: none;
      height: 48px; }
    .tmc-header-logo .search-container i {
      float: right;
      padding: 15px 10px;
      font-size: 17px;
      border: none;
      color: #ffffff;
      position: relative;
      cursor: pointer;
      right: 5px; }
    .tmc-header-logo .search-container button {
      background: #f9bf00;
      margin: -35px -19px 1px;
      height: 46px;
      color: #ffffff;
      font-size: 18px; }
    .tmc-header-logo .search-container .search {
      display: inline-block; }
  .tmc-header-logo .like-link {
    padding: 63px 0;
    margin: 0; }
    .tmc-header-logo .like-link li {
      background: #3a486d;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      margin: 0 2px; }
      .tmc-header-logo .like-link li a {
        color: #091a48;
        font-size: 20px;
        width: 32px;
        height: 32px;
        vertical-align: middle;
        display: table-cell; }
      .tmc-header-logo .like-link li:hover {
        background: #f9bf00; }

.nav-link {
  padding: 0.4em 1em; }

.navbar-inverse {
  background: #f9bf00 !important; }
  .navbar-inverse ul {
    margin-left: 24px; }
    .navbar-inverse ul li {
      border-radius: 6px;
      text-transform: uppercase; }
      .navbar-inverse ul li a {
        color: #8c6b00 !important; }
      .navbar-inverse ul li:hover {
        background: #ffffff;
        color: #091a48 !important; }
    .navbar-inverse ul li:last-child {
      background: #dba800 !important;
      padding: 1px 6px;
      position: absolute;
      font-size: 22px;
      right: 15%;
      top: -8px;
      border-radius: 0 !important; }
      .navbar-inverse ul li:last-child a {
        color: #fff !important;
        font-weight: 600; }

.middle .display-col {
  display: inline-block; }
.middle .slider-bg-one, .middle .slider-bg-two, .middle .slider-bg-three {
  background: url("../images/tmc-home-bg.jpg") no-repeat;
  width: 100%;
  height: 500px;
  background-position: 0px -149px;
  padding: 100px 0; }
  .middle .slider-bg-one h1, .middle .slider-bg-two h1, .middle .slider-bg-three h1 {
    font-size: 60px;
    color: #ffffff;
    text-shadow: 1px 2px 9px #000;
    margin-bottom: 26px; }
  .middle .slider-bg-one span, .middle .slider-bg-two span, .middle .slider-bg-three span {
    height: 47px;
    vertical-align: middle;
    display: table-cell;
    font-size: 25px;
    font-weight: 400; }
  .middle .slider-bg-one .badge-color-one, .middle .slider-bg-two .badge-color-one, .middle .slider-bg-three .badge-color-one {
    background: #f9bf00; }
  .middle .slider-bg-one .badge-color-two, .middle .slider-bg-two .badge-color-two, .middle .slider-bg-three .badge-color-two {
    background: #091a48; }
  .middle .slider-bg-one .badge-color-three, .middle .slider-bg-two .badge-color-three, .middle .slider-bg-three .badge-color-three {
    background: #282c62; }
.middle .tmc-putation-detail {
  padding: 0 78px; }
  .middle .tmc-putation-detail .tmc-putation {
    display: inline-block;
    background: #f9bf00;
    overflow: hidden;
    border-radius: 0 0 8px 8px; }
    .middle .tmc-putation-detail .tmc-putation .tmc-overwrite {
      padding: 0 !important; }
    .middle .tmc-putation-detail .tmc-putation .tmc-box {
      background: #091a48; }
      .middle .tmc-putation-detail .tmc-putation .tmc-box h6 {
        margin: 0;
        padding: 10px 0 20px; }
        .middle .tmc-putation-detail .tmc-putation .tmc-box h6 span {
          font-size: 50px;
          font-weight: 800; }
    .middle .tmc-putation-detail .tmc-putation .tmc-box-text {
      background: #f9bf00; }
    .middle .tmc-putation-detail .tmc-putation p {
      font-size: 13px;
      display: inline-block;
      margin: 20px 0 0; }
    .middle .tmc-putation-detail .tmc-putation button {
      position: relative;
      left: -26px;
      top: 31px; }
.middle .tmc-boxes {
  margin: 60px 0; }
  .middle .tmc-boxes .home-box {
    background: #f3f3f3;
    padding-bottom: 30px;
    border-radius: 4px;
    margin-bottom: 18px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #cecece; }
    .middle .tmc-boxes .home-box .donation-box {
      width: 80px;
      float: left; }
      .middle .tmc-boxes .home-box .donation-box .event-img {
        transition: 0.5s ease-in-out;
        height: 63px;
        background-position: 0 4px;
        margin-left: 28px;
        margin-top: 30px; }
    .middle .tmc-boxes .home-box .content-area-one {
      width: 75%;
      float: left; }
      .middle .tmc-boxes .home-box .content-area-one h3 {
        margin: 0 0 0 15px;
        padding: 30px 0 15px 0;
        color: #091a48;
        font-weight: 600;
        font-size: 25px; }
      .middle .tmc-boxes .home-box .content-area-one p {
        margin: 0 0 0 15px;
        font-size: 14px !important; }
.middle .slider-box {
  background: #f3f3f3;
  border-top: 1px solid #c4c4c4 !important;
  padding-top: 58px;
  padding-bottom: 85px; }
  .middle .slider-box h4 {
    color: #091a48;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 25px; }
  .middle .slider-box .margin-top-deside {
    margin-top: 58px; }
    .middle .slider-box .margin-top-deside h4 {
      margin: 0;
      font-size: 35px;
      font-weight: 900;
      color: #091a48;
      text-transform: uppercase; }
    .middle .slider-box .margin-top-deside .first-para {
      font-size: 13px !important;
      margin: 0 0 18px 0 !important;
      padding: 0; }
    .middle .slider-box .margin-top-deside p {
      font-size: 16px;
      font-weight: 400;
      color: #333333;
      margin: 0 0 20px 0; }
    .middle .slider-box .margin-top-deside .span-div {
      width: 100%;
      text-align: center; }
      .middle .slider-box .margin-top-deside .span-div .span-box {
        width: 20%;
        float: left;
        border: 1px solid #ccc;
        padding: 5px 0 5px 0;
        color: #091a48; }
        .middle .slider-box .margin-top-deside .span-div .span-box .price {
          font-size: 25px;
          font-weight: 800;
          float: left;
          width: 100%; }
    .middle .slider-box .margin-top-deside .span-div-second {
      width: 100%;
      float: left;
      border: 1px solid #ccc;
      padding: 8px; }
      .middle .slider-box .margin-top-deside .span-div-second .plus-btn {
        background: #091a48;
        color: white; }
      .middle .slider-box .margin-top-deside .span-div-second .over-text {
        font-size: 14px;
        font-weight: 800;
        color: #091a48;
        width: 90%;
        float: right;
        padding: 0;
        margin: -5px 0 0 0 !important; }
      .middle .slider-box .margin-top-deside .span-div-second .progress {
        width: 90%;
        float: right;
        margin: -20px 0 0 0;
        background: #dadada;
        color: #091a48;
        font-weight: 600;
        padding: 0 10px 0 0; }
        .middle .slider-box .margin-top-deside .span-div-second .progress .progress-site {
          border-radius: 5px;
          text-align: left;
          padding-left: 5px;
          background: #f9bf00;
          color: #091a48; }
  .middle .slider-box .span-div-third {
    width: 100%;
    border: 1px solid #ccc;
    float: left;
    border-radius: 0 0 5px 5px; }
    .middle .slider-box .span-div-third .donate-button {
      background: #091a48;
      color: white;
      font-size: 20px;
      font-weight: 600;
      padding: 0 12px;
      line-height: 38px;
      border-radius: 4px;
      margin: 5px 0;
      box-shadow: 0 0 #27496d; }
.middle .images-area {
  background: url("../images/join-community-img.png") no-repeat fixed;
  width: 100%;
  height: 600px;
  background-size: cover; }
  .middle .images-area h5 {
    font-size: 56px;
    font-weight: 300;
    color: #f9bf00;
    margin: 230px 0 50px 0; }
  .middle .images-area button {
    width: 13%;
    display: inline;
    margin: 0;
    background: #f9bf00;
    font-size: 20px;
    border: none;
    padding: 15px 0 13px; }
.middle .mosk-area {
  background: #f3f3f3;
  border-bottom: 1px solid #cecece !important; }
  .middle .mosk-area .image-text {
    background: white;
    width: 100%;
    float: left; }
    .middle .mosk-area .image-text img {
      height: 150px;
      width: 570px; }
    .middle .mosk-area .image-text .width-46 {
      width: 45%;
      float: right; }
      .middle .mosk-area .image-text .width-46 h5 {
        color: #091a48;
        font-size: 20px;
        font-weight: 600;
        margin: 33px 0 11px 0; }
      .middle .mosk-area .image-text .width-46 span {
        font-size: 13px;
        padding: 0 0 0 0;
        width: 100%;
        float: left; }
        .middle .mosk-area .image-text .width-46 span i {
          color: #091a48;
          font-size: 18px; }
      .middle .mosk-area .image-text .width-46 .image-site {
        width: 50%;
        float: right;
        margin: 0 -1px 0 0; }
    .middle .mosk-area .image-text .width-46-two {
      width: 45%;
      float: left;
      padding: 37px 0 0;
      text-align: right; }
      .middle .mosk-area .image-text .width-46-two span {
        font-size: 13px;
        padding: 0 0 0 0;
        width: 100%;
        float: left; }
        .middle .mosk-area .image-text .width-46-two span i {
          color: #091a48;
          font-size: 18px; }
.middle .form-area {
  background: #161944;
  padding: 62px 0; }
  .middle .form-area h4 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 25px; }
  .middle .form-area input {
    width: 356px;
    height: 48px;
    border-radius: 4px;
    padding: 0 8px;
    border: 1px solid #7579b5;
    background: #2d3171;
    color: #7579b5;
    margin-right: 20px; }
  .middle .form-area button {
    height: 48px;
    background: #f9bf00;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600; }
.middle .tmc-details {
  padding: 70px 0; }
  .middle .tmc-details .donating-pro-btn button {
    background: #091a48;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 0 12px;
    line-height: 38px;
    border-radius: 4px;
    margin: 5px 0;
    box-shadow: 0 0 #27496d; }
  .middle .tmc-details h2 {
    font-size: 20px;
    color: #161944;
    margin: 0; }
  .middle .tmc-details .img-width {
    width: 100%;
    border-radius: 5px; }
  .middle .tmc-details p {
    font-size: 13px;
    margin: 0 0 6px 0; }
  .middle .tmc-details ul {
    padding: 7px 8px;
    background: #f3f3f3;
    border-radius: 4px;
    font-size: 14px; }
    .middle .tmc-details ul li {
      list-style: none;
      display: inline-block;
      padding: 0 2px; }
      .middle .tmc-details ul li a {
        text-decoration: none;
        color: #333333 !important; }
.middle h1 {
  margin: 0 0 25px; }
.middle .card {
  margin-bottom: 5px; }
  .middle .card a {
    text-decoration: none; }
    .middle .card a .card-header {
      font-size: 20px;
      padding: 0 15px; }
      .middle .card a .card-header h5 {
        height: 37px;
        display: table-cell;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 18px;
        color: #333333; }
    .middle .card a:hover h5 {
      color: #ffffff !important; }
    .middle .card a:hover .card-header {
      background: #161944; }
  .middle .card .card-block {
    font-size: 13px;
    padding: 9px 16px; }
.middle .our-partner .heading-partner {
  margin: 0;
  padding: 60px 0;
  font-weight: 800; }
.middle .our-partner h1 {
  font-size: 35px;
  font-weight: 800; }
.middle .our-partner p {
  font-size: 13px; }
.middle .our-partner .slick-list {
  z-index: 9999; }
.middle .our-partner .slick-dots {
  bottom: 0;
  top: -3em; }
  .middle .our-partner .slick-dots .slick-active button:before {
    color: #f9bf00 !important; }
  .middle .our-partner .slick-dots li button:before {
    font-size: 13px !important; }
.middle .hadith-bg {
  background: url("../images/hadith-correct-img.jpg") no-repeat;
  width: 100%;
  height: 100%;
  color: #333333;
  background-position: 30px 0; }
  .middle .hadith-bg h1 {
    margin: 60px 0 100px;
    display: inline-block;
    width: 100%; }
  .middle .hadith-bg p {
    font-size: 30px;
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    line-height: 54px; }
  .middle .hadith-bg .hadith-detail-slider .detail-img img {
    margin: 40px 0 27px auto;
    display: inline-block; }
  .middle .hadith-bg .hadith-detail-slider .detail-img p {
    font-size: 25px;
    line-height: 19px; }
    .middle .hadith-bg .hadith-detail-slider .detail-img p span {
      font-size: 16px; }
  .middle .hadith-bg .hadith-detail-slider .slick-next {
    top: 23%; }
    .middle .hadith-bg .hadith-detail-slider .slick-next:before {
      content: "\f105";
      font: normal normal normal 13px/1 FontAwesome;
      color: #000000;
      font-size: 110px; }
  .middle .hadith-bg .hadith-detail-slider .slick-prev {
    top: 23%; }
    .middle .hadith-bg .hadith-detail-slider .slick-prev:before {
      content: "\f104";
      font: normal normal normal 13px/1 FontAwesome;
      color: #000000;
      font-size: 110px; }
  .middle .hadith-bg .hadith-detail-slider .slick-list {
    z-index: 9999; }
  .middle .hadith-bg .hadith-detail-slider .slick-dots {
    bottom: 0;
    top: -3em; }
    .middle .hadith-bg .hadith-detail-slider .slick-dots .slick-active button:before {
      color: #f9bf00 !important; }
    .middle .hadith-bg .hadith-detail-slider .slick-dots li button:before {
      font-size: 13px !important; }

.footer .footer-area {
  background: #161944;
  width: 100%;
  float: left; }
  .footer .footer-area .margin-bottom-58 {
    margin-bottom: 58px; }
    .footer .footer-area .margin-bottom-58 .margin-top-60 {
      margin-top: 54px; }
  .footer .footer-area .payment {
    color: white;
    font-size: 20px;
    line-height: 0; }
    .footer .footer-area .payment .Methonds {
      color: #f9bf00; }
  .footer .footer-area .show-small-hide .input-site-area {
    width: 29%;
    float: right;
    background: #f9bf00;
    margin-top: -43px;
    border-radius: 0 5px 5px 0; }
    .footer .footer-area .show-small-hide .input-site-area p {
      font-size: 14px;
      font-weight: 600;
      float: left;
      margin: 15px 0 0 5px;
      letter-spacing: -1px; }
    .footer .footer-area .show-small-hide .input-site-area input {
      float: right;
      margin: 7px 5px 6px 0;
      padding: 0 30px 0 6px;
      line-height: 32px;
      width: 60%; }
    .footer .footer-area .show-small-hide .input-site-area i {
      position: absolute;
      right: 30px;
      top: 22px; }
  .footer .footer-area .show-small-hide .images-links {
    background: #282c62;
    width: 61%;
    float: right;
    border-radius: 5px 0 0 5px;
    margin-top: -43px; }
    .footer .footer-area .show-small-hide .images-links img {
      margin: 10px 0 10px 6px; }
  .footer .footer-area .show-small-hide .hide-small-show {
    display: none;
    width: 100%; }
  .footer .footer-area .images-links {
    background: #282c62;
    width: 61%;
    float: right;
    border-radius: 5px 0 0 5px;
    margin-top: -43px; }
    .footer .footer-area .images-links img {
      margin: 10px 0 10px 10px; }
  .footer .footer-area .Quick-Links {
    font-size: 25px;
    font-weight: 300;
    color: #f9bf00;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    cursor: pointer; }
.footer .anchor-hide ul li a, .footer .footer-toggle ul li a {
  color: #ffffff; }

.middle .about-first-bg {
  background: url("../images/about-page-bg-img.jpg") no-repeat;
  width: 100%;
  float: left;
  height: 400px; }
  .middle .about-first-bg h1 {
    margin: 175px 0 20px 0;
    color: white;
    font-size: 60px;
    text-shadow: 0 -1px 7px #000;
    width: 100%;
    letter-spacing: -4.4px;
    font-weight: 800;
    text-align: center; }
.middle .community-heading {
  margin: 58px 0 70px 0;
  display: inline-block; }
  .middle .community-heading h4 {
    color: #091a48;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 37px; }
.middle .community-heading-detail {
  margin: 0 0 70px 0;
  display: inline-block; }
  .middle .community-heading-detail h4 {
    color: #091a48;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 37px; }
.middle .our-gallery {
  background: #f9bf00;
  padding: 0 0 50px;
  display: inline-block;
  width: 100%; }
  .middle .our-gallery .members-heading {
    margin: 55px 0 73px 0; }
    .middle .our-gallery .members-heading img {
      margin: -6px 0 0 0; }
  .middle .our-gallery .div-slider {
    border-radius: 8px;
    width: 100%;
    float: left;
    background: white;
    overflow: hidden; }
    .middle .our-gallery .div-slider h5 {
      font-size: 20px;
      font-weight: 600;
      color: #161944;
      margin: 38px 0 10px 0; }
    .middle .our-gallery .div-slider p {
      font-size: 14px;
      font-weight: 600;
      color: #333333;
      margin: 0 0 35px 0; }
    .middle .our-gallery .div-slider .fb-icon-box {
      background: #ececec;
      padding: 0 2px 0 13px;
      border-radius: 0 0 4px 4px; }
      .middle .our-gallery .div-slider .fb-icon-box .images-hover-show {
        padding: 6px 0 6px 0; }
        .middle .our-gallery .div-slider .fb-icon-box .images-hover-show .anchor-images a {
          width: 29px;
          height: 29px;
          background: #999999;
          vertical-align: middle;
          display: table-cell;
          border-radius: 50%; }
          .middle .our-gallery .div-slider .fb-icon-box .images-hover-show .anchor-images a i {
            color: #ececec; }
          .middle .our-gallery .div-slider .fb-icon-box .images-hover-show .anchor-images a:hover {
            color: #fff;
            background: #161944; }
          .middle .our-gallery .div-slider .fb-icon-box .images-hover-show .anchor-images a:focus {
            color: #fff;
            background: #161944; }

.middle .middle-first-bg {
  background: url("../images/donation-first-bg.jpg") no-repeat;
  width: 100%;
  height: 100%; }
  .middle .middle-first-bg h1 {
    margin: 0;
    padding: 133px 0;
    font-size: 60px;
    display: inline-block; }
.middle .donation-detail h4 {
  margin: 55px 0 28px 0;
  font-size: 35px;
  font-weight: 900;
  color: #091a48;
  text-transform: uppercase; }
.middle .donation-detail h3 {
  font-size: 16px;
  font-weight: 600;
  color: #091a48;
  margin: 0;
  text-transform: uppercase; }
.middle .donation-detail p {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  margin: 0 0 20px 0; }
.middle .donation-submit-btn {
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: #091a48;
  padding: 0 17px 0 17px;
  line-height: 36px;
  margin-bottom: 60px; }
.middle .donation-payment-site {
  width: 100%;
  float: left;
  margin: 0 0 28px 0; }
  .middle .donation-payment-site .payment-area {
    width: 8%;
    float: left;
    text-align: center; }
    .middle .donation-payment-site .payment-area .payment-area input {
      width: 20px;
      height: 20px; }
      .middle .donation-payment-site .payment-area .payment-area input label {
        margin: 5px 0 0 0; }
        .middle .donation-payment-site .payment-area .payment-area input label img {
          cursor: pointer; }
.middle .contact-person-area {
  width: 100%;
  float: left;
  background: #f3f3f3;
  margin: 58px 0 0 0;
  padding: 0 0 42px 20px;
  border-bottom: 1px solid #cccccc; }
  .middle .contact-person-area .contact-heading {
    font-weight: 900;
    font-size: 35px;
    margin: 58px 0 28px 0;
    color: #091a48; }
  .middle .contact-person-area .contact-images {
    width: 29%;
    float: left; }
    .middle .contact-person-area .contact-images img {
      border-radius: 4px; }
  .middle .contact-person-area .contact-text {
    width: 65%;
    float: left; }
    .middle .contact-person-area .contact-text h5 {
      font-size: 16px;
      font-weight: 600;
      color: #091a48;
      margin: -5px 0 5px 0;
      text-transform: uppercase; }
    .middle .contact-person-area .contact-text p {
      margin: 0 0 25px 0;
      font-size: 13px;
      font-weight: 400;
      color: #333333; }
    .middle .contact-person-area .contact-text h4 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      color: #091a48;
      margin: 0; }

.ask-imam-bg {
  background: url("../images/ask-imam-first-bg.jpg") no-repeat;
  width: 100%;
  height: 400px; }
  .ask-imam-bg h1 {
    margin: 185px 0 20px 0;
    color: white;
    font-size: 60px;
    text-shadow: 0 -1px 7px #000;
    width: 100%;
    letter-spacing: -4.4px;
    font-weight: 800;
    text-align: center;
    display: inline-block; }

.ask-imam-about-imam h4 {
  color: #091a48;
  font-size: 35px;
  font-weight: 800;
  margin: 58px 0 48px 0; }
.ask-imam-about-imam .margin-bottom-38-pixels {
  margin-bottom: 38px; }
  .ask-imam-about-imam .margin-bottom-38-pixels .questions {
    font-size: 25px;
    font-weight: 600;
    color: #999999;
    width: 11%;
    float: left;
    height: 83%; }
  .ask-imam-about-imam .margin-bottom-38-pixels .muslim-heading {
    font-size: 20px;
    font-weight: 600;
    color: #091a48;
    width: 85%;
    float: left;
    margin: 5px 0 10px 0; }
  .ask-imam-about-imam .margin-bottom-38-pixels .abid-kashmiri {
    color: #091a48;
    font-size: 13px;
    font-weight: bold;
    width: 26%;
    float: left;
    margin: -4px 0 0; }
  .ask-imam-about-imam .margin-bottom-38-pixels .date-year-p {
    font-size: 13px;
    font-weight: 600;
    color: #999999;
    width: 30%;
    float: left;
    margin: -4px 0 0 0; }

.form h4 {
  color: #091a48;
  font-size: 35px;
  font-weight: 800;
  text-align: left;
  margin: 58px 0 48px -13px; }
.form .form-group {
  margin: 0 0 30px 0; }
  .form .form-group input {
    width: 100%;
    padding: 0 0 0 17px;
    line-height: 48px;
    border: 1px solid #cccccc;
    border-radius: 6px; }
.form .message-area {
  width: 100%;
  resize: none;
  border-radius: 6px;
  padding: 20px 0 0 17px;
  height: 278px;
  border: 1px solid #cccccc;
  margin-bottom: 28px; }
.form .ask-imam-btn {
  font-size: 20px;
  font-weight: 600;
  background: #091a48;
  color: white;
  padding: 0 16px 0 16px;
  line-height: 36px;
  margin-bottom: 40px;
  border: 1px solid transparent; }

.about-islam-area {
  width: 100%;
  float: left;
  background: #f3f3f3;
  margin: 60px 0 0 0;
  padding: 0 85px 80px 20px; }
  .about-islam-area .faq-islam {
    color: #091a48;
    font-size: 34px;
    font-weight: 800;
    margin: 60px 0 36px 0; }
  .about-islam-area .para-questions-answer {
    font-size: 16px;
    color: #091a48;
    margin: 0 0 48px 0;
    width: 95%;
    float: left;
    text-transform: uppercase; }

.contact-us-first-bg {
  background: url("../images/map-img.jpg") no-repeat;
  width: 100%;
  height: 400px; }

.questions-heading {
  color: #091a48;
  font-size: 35px;
  font-weight: 800;
  text-align: left;
  margin: 42px 0 26px; }

div.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0; }
div.wpcf7 .form-group {
  margin: 0 0 30px 0; }
div.wpcf7 .wpcf7-form-control-wrap {
  position: relative; }
  div.wpcf7 .wpcf7-form-control-wrap input {
    width: 100%;
    padding: 0 0 0 17px;
    line-height: 48px;
    border: 1px solid #cccccc;
    border-radius: 6px; }
div.wpcf7 .ask-imam-btn {
  font-size: 20px;
  font-weight: 600;
  background: #091a48;
  color: white;
  padding: 0 16px 0 16px;
  line-height: 36px;
  margin-bottom: 40px;
  border: 1px solid transparent; }

.message-area {
  width: 100%;
  resize: none;
  border-radius: 6px;
  padding: 20px 0 0 17px;
  height: 278px;
  border: 1px solid #cccccc;
  margin-bottom: 28px; }

.contact-person-area {
  width: 100%;
  float: left;
  background: #f3f3f3;
  margin: 105px 0 0 0 !important;
  padding: 10px 0 48px 20px !important;
  border-bottom: 1px solid #cccccc; }
  .contact-person-area .contact-heading {
    font-weight: 900;
    font-size: 35px;
    margin: 58px 0 28px 0;
    color: #091a48; }
  .contact-person-area .contact-images {
    width: 29%;
    float: left; }
  .contact-person-area .contact-text {
    width: 65%;
    float: left; }
    .contact-person-area .contact-text h4 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      color: #091a48;
      margin: 0 0 0 0; }
    .contact-person-area .contact-text h5 {
      font-size: 16px;
      font-weight: 600;
      color: #091a48;
      margin: -5px 0 5px 0;
      text-transform: uppercase; }
    .contact-person-area .contact-text p {
      margin: 0 0 25px 0;
      font-size: 13px;
      font-weight: 400;
      color: #333333; }

#ajaxLoad {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px; }

svg {
  position: relative;
  z-index: 10;
  height: 40px;
  -webkit-animation: bounce 0.5s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite;
  animation: bounce 0.5s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite; }

#ajaxLoad:after {
  position: absolute;
  bottom: 2px;
  left: 20px;
  display: block;
  width: 22px;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  content: '';
  -webkit-animation: shadow .5s infinite;
  animation: shadow .5s infinite; }

@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(0.95, 1.1) translateY(-8px);
    transform: scale(0.95, 1.1) translateY(-8px); } }
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(0.95, 1.1) translateY(-8px);
    transform: scale(0.95, 1.1) translateY(-8px); } }
@keyframes shadow {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(0.7, 1);
    transform: scale(0.7, 1);
    background: rgba(0, 0, 0, 0.05); } }
@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(0.7, 1);
    transform: scale(0.7, 1);
    background: rgba(0, 0, 0, 0.05); } }

/*# sourceMappingURL=main.css.map */
